@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
  color: #414042;
  font-size: 16px; /*1em = 16px*/
  margin: 0em;
  line-height: 1.5em;
}

.wrapper, #main-wrapper {
  width: 92.5%;
  margin: auto;
}

nav, #footer {
  background-color: #5272ac;
}

nav {
  font-size: 0.8197em;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration: none;
}

nav a, #footer a {
  color: #f1f2f2;
}

nav a {
  height: 2.7708em;
  display: block;
  width: 9.0909%;
  float: left;
  padding: 0.6788em 0 0 0;
}

a:hover {
  color: #fbc0a5;
}

body, nav, time {
  font-family: 'Open Sans', sans-serif;
}

#mobile {
  display: none;
}

time {
  display: block;
  margin: 0 auto;
  margin-top: 0.2188em;
  font-color: #414042;
  font-size: 0.7188em;
  font-weight: normal;
  text-align: center;
}

a, h1 {
  color: #5272ac;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.8125em;
  margin-top: 0.375em;
}

#main-wrapper {
  margin-top: 1.5em;
}

#main-story {
  width: 50.0641%;
  height: 21.0823em;
  float: left;
  background-image: linear-gradient(transparent 60%, rgb(35, 31, 32)), url("https://www.lp.org/files/logo_color_jpg.jpg");
  background-size: cover;
  background-position: center; 
}

#main-story img {
  object-position: 50% 50%;
}

#main-story h2 {
  padding: 14em 0 0 1.25em;
  text-align: left;
  margin: 0 auto;
  line-height: 1.25em;
  color: #f1f2f2;
  font-family: 'Lora', serif;
  font-size: 1.1667em;
  font-weight: bold;
  width: 50.0641%;
}

h2 a {
  color: #f1f2f2;
}

.aside {
  float: left;
  width: 49.9359%;
  height: 21.0823em;
}

#aside-main {
  width: 100%;
  height: 10.0412em;
}

#aside-main h2 {
  width: 100%;
}

#aside-sub {
  width: 49%;
  float:left;
  height: 10.0412em;
  margin-top: 1em;
}

#aside-sub h2 {
  width: 49%;
}

#aside-sub + #aside-sub {
  margin-left: 2%
}

.aside-image {
  height: 10.0412em;
  background-color: #939598;
}

.aside-image img {
  object-fit: cover;
  width: 100%;
  height: 10.0412em;
}

.story {
  margin-top: 4.7143%;
  width: 30%;
  float: left;
}

.story + .story {
  margin-left: 4.7143%;
}

.story-image {
  height: 10.3209em;
  background-color: #939598;
}

.story-image img {
  object-fit: cover;
  width: 100%;
  height: 10.3209em;
}

.story h2 a {
  color: #5272ac;
}

.story h2 a:hover {
  color: #fbc0a5;
}

footer {
  height: 2.7708em;
  color: #f1f2f2;
  font-size: 0.9259em;
  font-weight: normal;
  text-align: center;
}

h2 {
  width: 100%;
}

#footer {
  margin: auto;
}

#footer h2 {
  color: #f1f2f2;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.2694em;
  font-weight: bold;
  line-height: 5em;
}

#sources {
  line-height: 1.2214em;
  margin: auto;
  text-align: center;
}

ul li{
  padding: 0.3776em 2.0833em;
  margin: 0em;
}

#sources ul li {
  font-size: 0.9259em;
}

#sources ul {
  text-align: left;
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#sources li {
  display: block;
}

#contact {
  text-align: center;
  font-size: 0.8507em;
  clear:both;
}

@media only screen and (min-width: 1800px) {
  body{
    font-size: 24px;
  }
  #main-wrapper{
    width: 1665px;
  }
}

/* For Tablet Devices */

@media only screen and (max-width: 768px) {
  #mobile {
    display: block;
  }
  
  nav a {
    float: none;
    width: auto;
    padding: 0.6788em 0 0 0;
    display: none;
  }

  #mobile-nav {
    display: none;
    float: left;
    width: 49%;
  }

  .story {
  margin: 7.1429%;
  width: 35.7142%;
  float: left;
}

  #sources ul {
    margin-top: 2.4429em;
  }
}

/* For Mobile Devices */

@media only screen and (min-width: 320px) and (max-width: 425px) {
  #main-story h2 {
    padding: 6.5em 0 0 0.25em;
    width: 100%;
  }

  #aside-main h2 {
    width: 100%;
  }

  .story {
    width: 100%;
    margin: 14.2857% 0;
  }

  .story-image {
    width: 100%;
    height: 11.0761em;
  }

  .story-image img {
    width: 100%;
    height: 11.0761em;
  }

  h1 {
    font-size: 1.875em;
  }

  #main-story img, .aside img {
    width: 100%
  }

  #main-story, .aside {
    width: 100%;
    height: 10.6523em;
    float: none;
  }

  #sources ul {
    margin-top: 2.4429em;
  }
}