@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

body {
  color: #414042;
  font-size: 16px; /*1em = 16px*/
  margin: 0em;
  line-height: 1.5em;
}

.wrapper {
  margin: auto;
}

#topNav, #footer {
  background-color: #5272ac;
}

#topNav {
  height: 2.770833333em;
  font-size: 0.8197115385em;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration:none;
}

#topNav a, #footer a {
  color: #f1f2f2;
}

#topNav ul {
  text-align: center;
  list-style-type: none;
}

ul li{
  padding: 0.377604166666667em 2.0833333335em;
  margin: 0em;
}

#topNav ul li {
  display: inline-block;
}

body, #topNav, time {
  font-family: 'Open Sans', sans-serif;
}

time {
  display: block;
  margin: 0 auto;
  margin-top:0.21875em;
  font-color: #414042;
  font-size: 0.71875em;
  font-weight: normal;
  text-align: center;
}

a, h1 {
  color: #5272ac;
}

h1 {
  font-family: 'Lora', serif;
  font-weight: bold;
  text-align: center;
  font-size: 2.8125em;
  margin-top: 0.375em;
}

#main-wrapper {
  width:92.5%;
  margin:auto;
  margin-top: 1.5em;
}

#main-story {
  width:50.0641025641026%;
  height:21.08229688em;
  float:left;
  background-image: linear-gradient(transparent, rgb(35, 31, 32)), url("https://upload.wikimedia.org/wikipedia/commons/2/24/Yankee_Stadium_001.JPG");
  background-size: cover;
}

#main-story h2 {
  padding: 240px 65px;
  text-align: left;
  line-height: 1.25em;
  color: #f1f2f2;
  font-family: 'Lora', serif;
  font-size: 2.33333em;
  font-weight: bold;
}

#aside {
  float:left;
  width:49.9358974358974%;
  height:21.08229688em;
  background-color:#231f20;
}

.story {
  width: 15em;
  margin: 3em;
  display: inline-block;
  background-color:#939598;
}

.story img {
    width: 100%;
}

footer {
  height: 2.770833333em;
  color: #f1f2f2;
  font-size: 0.9258928571em;
  font-weight: normal;
  text-align: center;
}

h2 {
  width: 100%;
}

#footer {
  margin:auto;
}

#footer h2 {
  color: #f1f2f2;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.269345714em;
  font-weight: bold;
  line-height:5em;
}

#sources {
  line-height: 1.221428571em;
  margin:auto;
}

#sources ul li {
  font-size: 0.9258928571em;
}

#sources ul {
  float: left;
  text-align: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#sources li {
  display: block;
}

#contact {
  text-align: center;
  font-size: 0.850695em;
  clear:both;
}

@media only screen and (max-width: 768px) {
#sources ul {
  margin-top:2.442857142em;
}
}

@media only screen and (max-width: 480px) {
h1 {
  font-size: 2.53125em;
}

#main-story {
  width:100%;
  height:21.08229688em;
  float:none;
  background-image: linear-gradient(transparent, rgb(35, 31, 32)), url("https://upload.wikimedia.org/wikipedia/commons/2/24/Yankee_Stadium_001.JPG");
  background-size: cover;
}

#aside {
  display:none;
}

#sources ul {
  margin-top:2.442857142em;
}
}