body {
  text-align: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.85), rgba(255, 255, 255, 0.85) ), url("https://upload.wikimedia.org/wikipedia/commons/2/24/Yankee_Stadium_001.JPG");
  background-size: cover;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

nav {
  background-color: #5272ac;
  height: 50px;
}

p {
  font-size: 22px;
}

ul {
    text-align: center;
    list-style-type: none;
}

ul li{
  display: inline-block;
  padding: 0em 1em;
}

.story {
  width:200px;
}

hr {
  width: 200px;
}

a {
  color: #fff;
  text-decoration:none;
}

h1 {
  text-shadow:2px 2px 8px black;
}